body {
    font-family: 'Bahnschrift', sans-serif;
    background-color: #060e1c;


    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #2b2b2c;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #969696;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {

    padding: 45px;


}

section {
    max-width: 8000px;
    margin: 0 auto;
}

h1 {
    height: 50px;
    color: #ffffff;
    font-family: 'FC Gimmick', sans-serif;
    font-size: 130px;

}

p {
    color: #f2f2f2;
    font-size: 31.9px;
    font-family: 'Noto Sans Lao', sans-serif;
}

button{
    border-radius: 60px;
    color: #ffffff;
    font-family: 'Noto Sans Lao', sans-serif;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: #04AA6D;
    padding: 10px 25px;
    cursor: pointer;
}

button:hover {
    background-color: #64646d;

}

.coppyrigt {

    padding: 1px;
    text-align: center;


}

body {
    background-image: url("My desk.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
